<div class="container">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Calificación</th>
                    <th>Establecimiento</th>
                    <th>Ciudad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Laura</td>
                    <td>4.5</td>
                    <td>Andrés Carne de Res</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Isabel</td>
                    <td>3.8</td>
                    <td>El Cielo</td>
                    <td>Medellín</td>
                </tr>
                <tr>
                    <td>Sebatian</td>
                    <td>5.0</td>
                    <td>Harry Sasson</td>
                    <td>Bogotá</td>
                </tr>
                <tr>
                    <td>Mauro</td>
                    <td>4.2</td>
                    <td>Maido</td>
                    <td>Lima</td>
                </tr>
                <tr>
                    <td>Sara</td>
                    <td>4.8</td>
                    <td>Central</td>
                    <td>Lima</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
