<div class="container">
    <h1>Listado de Destinos</h1>
    <table>
        <thead>
            <tr>
                <th>País</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Colombia</td>
                <td><button [routerLink]="['/arrendador/list']">Establecimientos y actividades</button></td>
            </tr>
            <tr>
                <td>Costa Rica</td>
                <td><button [routerLink]="['/arrendador/list']">Establecimientos y actividades</button></td>
            </tr>
            <tr>
                <td>Argentina</td>
                <td><button [routerLink]="['/arrendador/list']">Establecimientos y actividades</button></td>
            </tr>

            <tr>
                <td>Brasil</td>
                <td><button [routerLink]="['/arrendador/list']">Establecimientos y actividades</button></td>
            </tr>

            <tr>
                <td>Perú</td>
                <td><button [routerLink]="['/arrendador/list']">Establecimientos y actividades</button></td>
            </tr>

            <tr>
                <td>Chile</td>
                <td><button [routerLink]="['/arrendador/list']">Establecimientos y actividades</button></td>
            </tr>
            <!-- Agrega más filas según sea necesario -->

            <tr>
                <td>Bolivia</td>
                <td><button [routerLink]="['/arrendador/list']">Establecimientos y actividades</button></td>
            </tr>

            <tr>
                <td>Honduras</td>
                <td><button [routerLink]="['/arrendador/list']">Establecimientos y actividades</button></td>
            </tr>
        </tbody>
    </table>
</div>
