<div class="container">
    <h1>Juega y gana</h1>
    <ul>
        <li>
            <h2>Test 1: Conocimientos sobre destinos turísticos</h2>
            <p>Demuestra tus conocimientos sobre destinos turísticos famosos de todo el mundo y descubre nuevas ideas para tus próximas vacaciones.</p>
            <button class="iniciar-btn" [routerLink]="['/arrendatario/list/quiz']">Iniciar juego</button>
        </li>
        <li>
            <h2>Test 2: Identificación de monumentos históricos</h2>
            <p>Pon a prueba tu capacidad para reconocer y nombrar monumentos históricos icónicos de diferentes países y épocas.</p>
            <button class="iniciar-btn" [routerLink]="['/arrendatario/view']">Iniciar juego</button>
        </li>
        <li>
            <h2>Test 3: Adivina la comida típica</h2>
            <p>Adivina el nombre de la comida típica de diferentes regiones del mundo y descubre nuevas delicias gastronómicas para probar en tus viajes.</p>
            <button class="iniciar-btn" [routerLink]="['/arrendatario/view']">Iniciar juego</button>
        </li>
        <li>
            <h2>Test 4: Identificación de flora y fauna</h2>
            <p>Demuestra tus habilidades de observación identificando plantas y animales comunes en entornos naturales turísticos, desde selvas tropicales hasta desiertos.</p>
            <button class="iniciar-btn" [routerLink]="['/arrendatario/view']">Iniciar juego</button>
        </li>
        <li>
            <h2>Test 5: Prueba de geografía turística</h2>
            <p>Pon a prueba tus conocimientos de geografía turística respondiendo preguntas sobre ubicaciones geográficas famosas y características naturales destacadas.</p>
            <button class="iniciar-btn" [routerLink]="['/arrendatario/view']">Iniciar juego</button>
        </li>
        <li>
            <h2>Test 6: Quiz sobre transporte turístico</h2>
            <p>Responde preguntas sobre diferentes modos de transporte utilizados en el turismo, desde aviones y trenes hasta bicicletas y barcos.</p>
            <button class="iniciar-btn" [routerLink]="['/arrendatario/view']">Iniciar juego</button>
        </li>
        <li>
            <h2>Test 7: Reconocimiento de lugares de interés</h2>
            <p>Identifica y nombra lugares de interés turístico famosos de todo el mundo, desde sitios históricos hasta maravillas naturales.</p>
        </li>
        <li>
            <h2>Test 8: Conocimientos básicos de idiomas extranjeros</h2>
            <p>Pon a prueba tus habilidades lingüísticas respondiendo preguntas sobre vocabulario y frases útiles en idiomas extranjeros para viajar.</p>
        </li>
        <li>
            <h2>Test 9: Cuestionario sobre seguridad y salud en viajes</h2>
            <p>Evalúa tus conocimientos sobre medidas de seguridad y precauciones de salud recomendadas para viajar de forma segura y saludable.</p>
        </li>
        <li>
            <h2>Test 10: Prueba de habilidades de planificación de viajes</h2>
            <p>Pon a prueba tus habilidades de planificación de viajes respondiendo preguntas sobre itinerarios, reservas y actividades turísticas.</p>
            <button class="iniciar-btn" [routerLink]="['/arrendatario/view']">Iniciar juego</button>
        </li>
    </ul>
</div>
